@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");
body {
  background-image: url(https://godofredo.ninja/content/images/2019/05/github-1.png);
  background-position-y: center;
  background-repeat: no-repeat;
}
h1 {
  font-size: 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
}
p {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}
.red {
  font-style: italic;
  color: red;
  text-decoration-color: cornflowerblue;
}
.blue {
  background-color: pink;
  color: blue;
  text-transform: uppercase;
}
.green {
  color: chartreuse;
  -webkit-text-stroke: 2px black;
}
.grey {
  color: grey;
}
.pink {
  font-family: "UnifrakturMaguntia", cursive;
  color: bisque;
  font-size: 60px;
  -webkit-text-stroke: 2px rgb(201, 65, 201);
  vertical-align: -25px;
}
